In [9]:
import pandas as pd
import numpy as num_paths
import matplotlib.pyplot as psnrResault
import seaborn as sns
sns.set(style="whitegrid")
import warnings
warnings.filterwarnings("ignore")

In [10]:
df=pd.read_csv("data.csv")

In [11]:
df=pd.DataFrame(df)
df.head()

  host       psnr  ssim_first  ssim_second  type server
0   h1  31.235639    0.989438    19.762427   1.0    h14
1   h2  28.459433    0.977495    16.477240   1.0    h14
2   h3  24.837173    0.963479    14.374588   1.0    h14
3   h4  24.141326    0.956197    13.584935   1.0    h14
4   h5  24.690758    0.955428    13.509409   1.0    h14

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,162.0,33.757212,6.560339,8.344914,29.380364,36.182898,39.560488,40.721216
ssim_first,162.0,0.980347,0.055318,0.396239,0.982296,0.996114,0.998294,0.998611
ssim_second,162.0,22.094667,6.011734,2.191353,17.519380,24.105403,27.680716,28.572905
type,162.0,2.137037,0.866842,1.000000,1.000000,2.000000,3.000000,3.500000

In [13]:
type1=df[df["type"]==1]
type1Mean=type1["psnr"].mean()
type1.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,26.479837,4.041092,20.593288,24.035517,24.911773,29.749786,35.364894
ssim_first,48.0,0.964535,0.019444,0.903046,0.953934,0.961881,0.983226,0.994183
ssim_second,48.0,15.361879,3.057522,10.134339,13.366165,14.188624,17.753666,22.353209
type,48.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
type2=df[df["type"]==2]
type2Mean=type2["psnr"].mean()
type2.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,34.648881,6.105224,8.344914,33.138952,36.216640,38.351710,40.687188
ssim_first,48.0,0.973144,0.096906,0.396239,0.992802,0.996209,0.997631,0.998591
ssim_second,48.0,22.888625,5.652362,2.191353,21.430553,24.213121,26.254060,28.511922
type,48.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [15]:
type3=df[df["type"]==3]
type3Mean=type3["psnr"].mean()
type3.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,38.975341,1.349144,35.014617,38.123741,39.491802,39.783083,40.721216
ssim_first,48.0,0.997880,0.000866,0.994917,0.997390,0.998376,0.998489,0.998611
ssim_second,48.0,27.016197,1.491123,22.938682,25.833555,27.892290,28.207368,28.572905
type,48.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000

In [22]:
type1H6=type1[type1["host"]=="h6"]
type1H6Mean=type1H6["psnr"].mean()
type2H6=type2[type2["host"]=="h6"]
type2H6Mean=type2H6["psnr"].mean()
type3H6=type3[type3["host"]=="h6"]
type3H6Mean=type3H6["psnr"].mean()


print(f"Type    typeMean           TypeH6Mean    fark")
print(f"TYpe1   {type1Mean}  {type1H6Mean}    {type1H6Mean-type1Mean}")
print(f"TYpe3   {type2Mean}  {type2H6Mean}    {type2H6Mean-type2Mean}")
print(f"TYpe3   {type3Mean}  {type3H6Mean}    {type3H6Mean-type3Mean}")
#print(f"type1H6 Ortalama: {type1H6Mean} \ntype2H6 Ortalama: {type2H6Mean} \ntype3H6 Ortalama: {type3H6Mean}")

Type    typeMean           TypeH6Mean    fark
TYpe1   26.479837479166665  22.278350875    -4.201486604166664
TYpe3   34.64888141666667  32.83094175    -1.8179396666666676
TYpe3   38.97534114583333  39.55278212499999    0.5774409791666599