In [5]:
import pandas as pd
import numpy as num_paths
import matplotlib.pyplot as psnrResault
import seaborn as sns
sns.set(style="whitegrid")
import warnings
warnings.filterwarnings("ignore")

In [6]:
df=pd.read_csv("data.csv")

In [14]:
df=pd.DataFrame(df)
df.head()

  host       psnr  ssim_first  ssim_second  type
0   h1  38.293199    0.997075    25.338352   2.0
1   h2  39.783083    0.998489    28.207368   2.0
2   h3  37.345154    0.998040    27.078139   2.0
3   h4  39.783083    0.998489    28.207368   2.0
4   h5  39.670375    0.998219    27.492993   2.0

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,36.003776,5.132549,17.613023,33.699692,37.387001,39.783083,40.699238
ssim_first,48.0,0.983342,0.050663,0.734268,0.994204,0.996973,0.998245,0.998603
ssim_second,48.0,23.906070,5.332494,5.755557,22.442041,25.190442,27.557026,28.549516
type,48.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [18]:
h1=df[df["host"]=="h1"]
h1

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (779422231.py, line 1)