In [1]:
import pandas as pd
import numpy as num_paths
import matplotlib.pyplot as psnrResault
import seaborn as sns
sns.set(style="whitegrid")
import warnings
warnings.filterwarnings("ignore")

/home/gurhancoban/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df=pd.DataFrame(df)
df.head()

  host       psnr  ssim_first  ssim_second  type server
0   h1  31.235639    0.989438    19.762427   1.0    h14
1   h2  28.459433    0.977495    16.477240   1.0    h14
2   h3  24.837173    0.963479    14.374588   1.0    h14
3   h4  24.141326    0.956197    13.584935   1.0    h14
4   h5  24.690758    0.955428    13.509409   1.0    h14

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,96.0,30.564359,6.586266,8.344914,24.878302,30.761852,36.160260,40.687188
ssim_first,96.0,0.968839,0.069654,0.396239,0.958163,0.986115,0.996190,0.998591
ssim_second,96.0,19.125252,5.894364,2.191353,13.784406,18.574724,24.190997,28.511922
type,96.0,1.500000,0.502625,1.000000,1.000000,1.500000,2.000000,2.000000

In [5]:
h6_2=df[df["type"]==2]
h6_2=h6_2[df["host"]=="h6"]
h6_1=df[df["type"]==1]
h6_1=h6_1[df["host"]=="h6"]

In [6]:
h6_1.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,8.0,22.278351,1.795525,20.593288,20.936599,21.319989,23.913474,24.933232
ssim_first,8.0,0.943521,0.008953,0.932081,0.937824,0.939915,0.951999,0.957010
ssim_second,8.0,12.531478,0.716726,11.680114,12.063918,12.212616,13.187518,13.666278
type,8.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
h6_2.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,8.0,32.830942,7.155992,16.686964,32.468379,34.603049,35.797876,40.677829
ssim_first,8.0,0.959737,0.104599,0.700881,0.995679,0.996370,0.997171,0.998591
ssim_second,8.0,22.625218,7.212953,5.241561,23.648263,24.424929,25.494446,28.511922
type,8.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [8]:
type1=df[df["type"]==1]
type1.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,26.479837,4.041092,20.593288,24.035517,24.911773,29.749786,35.364894
ssim_first,48.0,0.964535,0.019444,0.903046,0.953934,0.961881,0.983226,0.994183
ssim_second,48.0,15.361879,3.057522,10.134339,13.366165,14.188624,17.753666,22.353209
type,48.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
type1S10=df[df["server"]=="h10"]
type1S10.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,30.500693,6.819792,8.344914,24.797931,31.188898,35.339737,40.687188
ssim_first,48.0,0.966314,0.086818,0.396239,0.961429,0.987537,0.996163,0.998591
ssim_second,48.0,19.103706,5.973999,2.191353,14.142886,19.075509,24.165082,28.511922
type,48.0,1.500000,0.505291,1.000000,1.000000,1.500000,2.000000,2.000000

In [10]:
type1S10=df[df["server"]=="h14"]
type1S10.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,30.628025,6.415833,16.686964,24.878302,30.481486,36.340766,40.628579
ssim_first,48.0,0.971364,0.047501,0.700881,0.958092,0.985530,0.996190,0.998498
ssim_second,48.0,19.146798,5.876790,5.241561,13.777081,18.400070,24.190997,28.234673
type,48.0,1.500000,0.505291,1.000000,1.000000,1.500000,2.000000,2.000000

In [11]:
type1=df[df["type"]==2]
type1.describe().T

,count,mean,std,min,25%,50%,75%,max
psnr,48.0,34.648881,6.105224,8.344914,33.138952,36.216640,38.351710,40.687188
ssim_first,48.0,0.973144,0.096906,0.396239,0.992802,0.996209,0.997631,0.998591
ssim_second,48.0,22.888625,5.652362,2.191353,21.430553,24.213121,26.254060,28.511922
type,48.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000